body {
    background-color: #eee;
}

input[type=text]{
    padding: 10px;
    font-size: 14px;
}

.azul {
    background-color: #0000ff;
    color: #fff;
}

.vermelho {
    background-color: #ff0000;
    color: #fff;
}

.verde {
    background-color: #00ff00;
    color: #000;
}

#telefone {
    display: none;
}